{% extends "common/cms_base.html" %}
{% block head %}
    {% block title %}
        <title>修改密码</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ file_name("cms/css/personal.css") }}" media="all">
    <style>
        .layui-input{
            display: inline-block;
            width: 30%;
        }
        .layui-btn{
            display: inline-block;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="layui-larry-box">
        <div class="larry-personal">
            <header class="larry-personal-tit">
                <span>修改密码</span>
            </header><!-- /header -->
            <div class="larry-personal-body clearfix changepwd">
                    <div class="layui-form-item">
                        <label class="layui-form-label">旧邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="title"  autocomplete="off"  class="layui-input layui-disabled" value="{{ cms_user.email }}" disabled="disabled" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">新邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="new_password"  autocomplete="off"  class="layui-input" value="" placeholder="请输入新密码">
                            <button class="layui-btn layui-btn-danger">发送验证码</button>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">填写验证码</label>
                        <div class="layui-input-block">
                            <input type="text" name="re_new_password"  autocomplete="off"  class="layui-input" value="" placeholder="请输入确认新密码">
                        </div>
                    </div>
                    <div class="layui-form-item change-submit">
                        <div class="layui-input-block">
                            <button class="layui-btn" id="submit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block foot %}
    <script type="text/javascript" src="{{ file_name("cms/pagejs/change_mail.js") }}"></script>
{% endblock %}